<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Engineering Statics: Open &amp; Interactive</h1>
            <hr>
            <p>You just discovered the best free Statics book on the internet which is used by over 250,000 people annually.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Explore the Book</a>
        </div>
        <div class="text-faded very-small">
            <p></p>
            <p></p>
            <p>Photo by Artur Westergren via <a class="text-white" href="https://unsplash.com/photos/Rx92z9dU-mA">Unsplash</a></p>
        </div>
    </div>
</header>
