<section class="bg-primary" id="value">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Benefits Include</h2>
                <hr class="light">
                <p>Our book is freely <em>accessible</em> online or as a PDF to anyone, anywhere, any time. We believe in making quality educational materials accessible to all.</p>
                <p>With our <em>interactive</em> figures, you'll not just read about statics; you'll reinforce your learning by testing your understanding in real time.</p>
                <p>The book is <em>comprehensive</em> and covers all statics topics. Topics include vector analysis, two- and three- dimensional equilibrum, structures, centroids, area moment of inertia and multiple approches to shear and moment diagrams.</p>
                <!--<a href="" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
