chapter,
p,
exercise,
interactive,
figure,
introduction,
conclusion,
investigation,
section,
subsection,
ol,ul{
 display: block;
}
chapter {
 margin: auto;
 padding: 0;
}
chapter {
 font: 1.3em Palatino, Times;
 color: #111;
 text-align: justify;
}
/* Typography
-------------------------------------------------------- */
title,
em {
 font-weight: bold;
}
pubtitle,
term {
 font-style: italic;
}
m,
md,
me,
men,
mdn {
 color: brown;
}
md,
me,
men,
mdn {
 display: inline-block;
}
p {
 margin-top: 1em;
}
ul {
 list-style: square;
 padding-left: 1.2em;
}
ol {
 list-style: decimal;
 padding-left: 1.2em;
}
blockquote {
 margin-left: 1em;
 padding-left: 1em;
 border-left: 1px solid #ddd;
}
li {
 margin-left: 1em;
 color: blue;
 display: list-item;
}
code {
 font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
 font-size: .9em;
 background: white;
}
url {
 color: #2484c1;
 text-decoration: none;
}
