body.pretext {
  font-family: "PT Serif", "Times New Roman", Times, serif;
}
/*  shrink gigantic ptx logo */
.ptx-toc::after {
  height: 4em;
}
/*hide light-dark-button bug? 12/30/24  should be set by publication/html@provide-dark-mode="no" */
#light-dark-button{display:none;}

/*  give breathing room to buttons on interactives */
.buttons button{
  margin: 0 5px;
}
