body.pretext {
 font-family: "Times, serif";
}
/*  enlarge logo image in masthead to fit better. */
#masthead #logo-link img,
#masthead .logo-link img {
 max-height: 1.2em;
}
/*unbolds task labels, might effect other numbers elsewhere, I don't know.*/
.codenumber {
 font-weight: normal;
}
/* prevents content of asides from generating scrollbars */
.pretext-content .aside-like p {
 overflow-x: unset;
}
/*  flex-container used by ggb interactives */
.flex-container {
 display: flex;
 flex-wrap: wrap;
/* background-color:LightSteelBlue;*/
}
.flex-item {
 flex-grow: 1;
 flex-basis: 40%;
 /*	background-color:aliceblue;*/
 text-align: center;
 height: auto;
}
/* hack table formatting in ggb slates */
#ggb_2__13_table1,
#ggb_2__13_table2,
#ggb_2__14_table,
#ggb_2__17_table1,
#ggb_4__4_table,
#ggb_4__5_table1,
#ggb_4__5_table2,
#ggb_7__1_table,
#ggb_7__2_table,
#ggb_10__8_table
{
 width: 100%;
 border: 1px solid black;
 text-align: center;
 /*background: goldenrod;*/
}

/*/\*  make paragraph titles run-in *\/
.pretext-content .paragraphs .heading {
 font-size: smaller;
 display:block;
 padding-bottom:inherit;
}

/\*  make the first line of problem statement in examples (investigations) not-inline *\/
.pretext-content section article.investigation > .heading + p
{display:block;
margin-top: 1.25em;
margin-bottom: 0;
line-height: 1.35;}

/\*  make task step labels normal, not bold *\/
.pretext-content section article.task > .heading span.codenumber {
 font-weight: normal;
}
/\*  Next four fix examples to look like I want *\/
.pretext-content article.project-like {
 padding-top: 0.5em;
 border-left: 4px solid #569;
 background: aliceblue;
}
.pretext-content article.project-like .MJXc-display {
 background-image: none;
}
.pretext-content article.project-like span.type {
 font-weight: bold;
}
.pretext-content article.project-like div.solution {
 margin-top: 1em;
}
.pretext-content article.project-like::after {
 border-bottom: 4px solid #569;
 width: 1.5em;
}
/\*  make terms bold small caps *\/
.pretext-content article.project-like .terminology {
 font-weight: bold;
 float: left;
 margin-right: .5em;
 font-variant: all-small-caps;
 font-style: normal;
}*/