.ptx-page {
  font-family: "Times New Roman", Times, serif;
}
/*  enlarge logo image in masthead to fit better. */
.ptx-masthead .logo-link img {
  width: auto;
  height: 1.5em;
  max-height: unset;
}
/*  hide gigantic ptx logo */
.ptx-toc::after {
  display: none;
}

/*  give breathing room to buttons on interactives */
.buttons button{
  margin: 0 5px;
}
.blue {
  background-color: aliceblue;
}
.pink {
  background-color: pink;
}