body {
 font-family: "Palatino, URW Palladio L, serif";
}
.pretext-content article.example-like {
 padding-top: 0.5em;
 border-left: 4px solid #569;
 background: aliceblue;
}
.pretext-content article.example-like::after {
 border-bottom: 4px solid #569;
 width: 1.5em;
}
.pretext-content article.example-like .MJXc-display {
 background-image: none;
}

.pretext-content article.example-like span.type {
 font-weight:bold;
 }
 
 .pretext-content article.example-like div.solution {
 margin-top: 1em;
 }