body {
 font-family: "Times, serif";
 font-size: large;
}
.pretext-content section .paragraphs .heading {
font-size: inherit;
font-variant-caps: small-caps;}

.pretext-content article.project-like {
 padding-top: 0.5em;
 border-left: 4px solid #569;
 background: aliceblue;
}
.pretext-content article.project-like .MJXc-display {
 background-image: none;
}
.pretext-content article.project-like span.type {
 font-weight: bold;
}
.pretext-content article.project-like div.solution {
 margin-top: 1em;
}
.pretext-content article.project-like::after {
 border-bottom: 4px solid #569;
 width: 1.5em;
}
.pretext-content article.project-like .terminology {
 font-weight: bold;
 float: left;
 margin-right: .5em;
 font-variant: all-small-caps;
 font-style: normal;
}