chapter,
p,
exercise,
interactive,
figure,
introduction,
conclusion,
investigation,
section,
subsection,
instructions,
paragraphs,
ol,
ul {
    display: block;
    font-size: large;
    width: 600px;
}
chapter,
backmatter {
    margin: auto;
    padding: 0;
    color: #222;
    text-align: justify;
}
paragraphs > title {
    color: green;
    font-variant: small-caps;
    font-style: italic;
}
/* Typography
-------------------------------------------------------- */
chapter {
    font-family: roman, 'times new roman', times, serif
}
title,
caption {
    padding-top: 1em;
    font-weight: bold;
}
em,
pubtitle,
foreign {
    font-style: italic;
}
term,
alert {
    font-weight: bold;
}
m {
    color: cornflowerblue;
    display: inline;
}
md,
me,
men,
mdn {
    display: block;
    color: cornflowerblue;
    margin-left: 3em;
}
p {
    margin-top: 1em;
}
ul {
    list-style: square;
    padding: 1em;
}
ol {
    list-style: decimal;
    padding: 1em;
}
blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #ddd;
}
li {
    margin-left: 1em;
    color: darkblue;
    display: list-item;
}
code,
slate {
    margin-left: 1em;
    font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
    font-size: .9em;
    background: white;
}
url {
    color: #2484c1;
    text-decoration: none;
    display: inline;
}
url[href]:before {
    content: attr(href);
    visibility: visible;
}
tabular {
    display: table;
}
row {
    display: table-row;
}
cell {
    display: table-cell;
}
sidebyside {
    display: block;
    margin: auto;
    width: 90%
}
figure {
    display: block;
}
caption {
    font-family: arial, helvetica, sans-serif;
    font-size: small;
}
/* weh additions*/
remix {
    display: none;
}
description {
    display: none;
}
insight,
objectives,
example,
interactive {
    background: cornsilk;
    border: 1px solid black;
    margin: 5pt;
}
insight::before {
    content: 'Thinking Deeper'
}
example::before {
    content: 'Example'
}
interactive::before{content: 'Interactive'}
interactive remix, slate[surface='ptx'] {display:none;}


image[href]{
    content: attr(source, url);
}

xref{content:attr(ref)}